{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if site.logo_title %}{{ site.logo_title }}{% endif %}{% endblock %}</title>
    {% block css %}
        <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <main>
        hello world
        {% block content %}{% endblock %}
    </main>

    <footer>

    </footer>

{% block js %}{% endblock %}

</body>
</html>